In [13]:
import pandas as pd
import numpy as np

np.random.seed(4272018)

df = pd.DataFrame(np.random.randint(low= 0, high= 20, size= (5, 2)), columns= ['Commercials Watched', 'Product Purchases'])

df

   Commercials Watched  Product Purchases
0                   10                 13
1                   15                  0
2                    7                  7
3                    2                  4
4                   16                 11

In [14]:
"""
x? (Commercials Watch) = (14 + 12 + 6 + 7 + 5)/ 5 = 8.8
variance(s2) = ((14 - 8.8)2 + (12 - 8.8)2 + (6 - 8.8)2 + (7 - 8.8)2 + (5 - 8.8)2) / (5 - 1)
variance(s2) = 15.7
"""

'\nx? (Commercials Watch) = (14 + 12 + 6 + 7 + 5)/ 5 = 8.8\nvariance(s2) = ((14 - 8.8)2 + (12 - 8.8)2 + (6 - 8.8)2 + (7 - 8.8)2 + (5 - 8.8)2) / (5 - 1)\nvariance(s2) = 15.7\n'

In [15]:
df['Commercials Watched'].var()

33.5

In [16]:
df['Product Purchases'].var()

27.5

In [17]:
df[['Commercials Watched', 'Product Purchases']].cov()

                     Commercials Watched  Product Purchases
Commercials Watched                33.50               3.25
Product Purchases                   3.25              27.50

In [18]:
df[['Commercials Watched', 'Product Purchases']].corr()

                     Commercials Watched  Product Purchases
Commercials Watched             1.000000           0.107077
Product Purchases               0.107077           1.000000